.who .bg {
    width: 100%;
    height: 100%;
}
.who .bg img {
    width: 100%;
}
.info {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}
.info div {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info div:first-of-type {
    position: relative;
}
.info div:first-of-type::before {
    content: '';
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('./../../assets/image\ 1.png');
}
.info div img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 111;
}
.info div span {
    margin: auto;
    height: 300px;
    width: 455px;
    position: relative;
}
.info div span nav {
    z-index: 1;
    position: absolute;
    width: 70%;
    height: 90%;
    background: #651E32;
    top: -20px;
    right: -20px;
}
.info div span i {
    position: absolute;
    bottom: -30px;
    right: -30px;
    height: 60px;
    width: 80px;
    border-bottom: 1px solid #651E32;
    border-right: 1px solid #651E32;
}
.info h4 {
    font-size: 22px;
    margin: 10px 0;
}
.info p {
    width: 80%;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5em;
}
.statements {
    background: #651E32;
    margin: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
}
.statements h3 {
    font-size: 22px;
    margin: 30px auto;
}
.statements div {
    width: 80%;
    margin: 20px auto;
    padding: 20px 0 200px 0;
    display: flex;
    justify-content: space-evenly;
}
.statements div nav {
    text-align: center;
    width: 350px;
    height: 250px;
    padding: 0 30px;
    border-radius: 10px;
    background: #712644;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statements div nav b {
    margin: 20px 0 15px 0;
    padding: 5px;
    font-size: 22px;
    border-bottom: 3px solid #d6790f;
}
.statements i {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.5;
    height: fit-content;
}
.team {
    padding: 50px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team h3 {
    font-size: 22px;
    margin: 10px;
    color: #640032;
}
.team p {
    text-align: center;
    font-size: 18px;
    margin: 20px;
}
.team div {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}
.team div img {
    height: 250px;
}
.info div:first-of-type h4 {
    display: none;
}
@media only screen and (max-width: 800px) {
    .who .bg {
        width: 100%;
        height: 200px;
    }
    .who .bg img {
        width: 100%;
        height: 100%;
    }
    .info {
        width: 100%;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 20px 0;
    }
    .info div {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info div:first-of-type {
        position: relative;
        width: 100%;
        margin: 30px 0;
    }
    .info div:first-of-type h4 {
        display: flex;
        margin: 0 0 50px 0;
    }
    .info div:last-of-type h4 {
        display: none;
    }
    .info div img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 111;
    }
    .info div span {
        margin: auto;
        height: 300px;
        width: auto;
        position: relative;
    }
    .info p {
        width: 100%;
        font-size: 18px;
        margin: 10px 0;
        line-height: 1.5em;
    }
    .statements {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .statements h3 {
        font-size: 20px;
        margin: 30px auto;
    }
    .statements div {
        width: 100%;
        margin: 20px auto;
        padding: 20px 0 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .statements div nav {
        margin: 20px;
        z-index: 1111;
    }
    .statements div nav b {
        margin: 20px 0 15px 0;
        padding: 5px;
        font-size: 22px;
        border-bottom: 3px solid #d6790f;
    }
    .statements i {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        opacity: 0.5;
        height: fit-content;
    }
    .team {
        padding: 10px 20px 100px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .team h3 {
        font-size: 20px;
        margin: 10px 0;
    }
    .team p {
        text-align: unset;
        font-size: 16px;
        margin: 0;
    }
    .team div {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .team div img {
        margin: 20px 0;
        height: 250px;
        width: 100%;
    }
}